<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>HoMS</title>
    <link rel
  </head>
  <body>
    <nav class="navbar navbar-light bg-light ">
      <!-- <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
      <div class="navbar navbar-expand-lg nav justify-content-center">
        <a class="nav-item nav-link" href="/staff/viewhome"><span th:text="${staff.department}"></span>Home</a>
        <a class="nav-item nav-link" href="/staff/viewpatients">Patients</a>
        <a class="nav-item nav-link" href="/staff/viewschedule">Schedule</a>
        <div class="dropdown show">
          <a class="btn btn-success dropdown-toggle" href="#" role="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span th:text="${staff.name}"></span>
            <img class="rounded-circle" src="https://i.imgur.com/0eg2WHz.jpg" width="30" height="30" alt="ProfilePicture" />
          </a>
          <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="/staff/viewprofile">Profile</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div>
        <h1>Welcome Back</h1>
        <p><span th:text="${staff.name}"></span></p>
    </div>


    <div th:if="${department == 'Inventory'}">
      <a href="/inventory/home">Inventory Home</a>  
    </div>
  </body>
</html>