#title {
    padding-top: 2vh;
    font-family: Poppins;
    font-size: 20px;
}
#container {
    padding-top: 2vh;
}
#content {
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    column-gap:8rem;
    
}
#profile {
    align-content: center;
}
#picture {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}
#profile p {
    margin-top: 2vh;
    text-align: center;
    line-height: 3vh;
}
#profile-detail {
    display: inline-block;
}
#profile-picture {
    padding-top: 5vh;
    padding-bottom: 2vh;
}
#my-profile {
    padding-bottom: 2vh;
}
#button {
    padding-top: 2vh;
}