<!DOCTYPE html>
<html>
<head>
    <title>Payment Page - Credit Card</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="paymentpagecreditcard.css">

</head>

<body>

    <div class="headerbg"></div>
    <div class="logo"></div>
    <div class="HoMS">HoMS</div>
    <div class="navhome">Home</div>
    <div class="navdoctor">Doctor</div>
    <div class="navservices">Services</div>
    <div class="navreview">Review</div>
    <div class="navaboutus">About Us</div>
    <div class="rectanglelogout"></div>
    <div class="logout">Log Out</div>

    <div class="paymentpage">Payment Page</div>
    <div class="homsspecialisthospital">HoMS Specialist Hospital</div>

    <div class="rectanglecarddetails"></div>
    <div class="carddetails">Card Details</div>
    <div class="cardnumber">Card Number</div>
    <div class="rectanglecardnumber"></div>
    <div class="cardnumbercontent">**** **** **** ****</div>
    <div class="cvvnumber">CVV Number</div>
    <div class="rectanglecvvnumber"></div>
    <div class="cvvnumbercontent">***</div>
    <div class="expirydate">Expiry Date</div>
    <div class="rectangleexpirydate"></div>
    <div class="expirydatecontent">**/**</div>

    <div class="rectanglepersonalinformation"></div>
    <div class="personalinformation">Personal Information</div>
    <div class="firstname">First Name</div>
    <div class="rectanglefirstname"></div>
    <div class="firstnamecontent">Enter First Name</div>
    <div class="lastname">Last Name</div>
    <div class="rectanglelastname"></div>
    <div class="lastnamecontent">Enter Last Name</div>
    <div class="country">Country</div>
    <div class="rectanglecountry"></div>
    <div class="countrycontent">Select Country</div>
    <div class="countryarrow"></div>
    <div class="state">State</div>
    <div class="rectanglestate"></div>
    <div class="statecontent">Select State</div>
    <div class="statearrow"></div>
    <div class="city">City</div>
    <div class="rectanglecity"></div>
    <div class="citycontent">Select City</div>
    <div class="cityarrow"></div>
    <div class="postalcode">Postal Code</div>
    <div class="rectanglepostalcode"></div>
    <div class="postalcodecontent">Select Postal Code</div>
    <div class="postalcodearrow"></div>

    <div class="email">Email</div>
    <div class="rectangleemail"></div>
    <div class="emailcontent">Enter email address</div>
    <div class="phonenumber">Phone Number</div>
    <div class="rectanglephonenumber"></div>
    <div class="phonenumbercontent">Enter phone number</div>

    <div class="rectanglepay"></div>
    <div class="pay">Pay</div>


    
</body>

</html>