<!DOCTYPE html>
<html>
<head>
    <title>Payment Page - Online Banking</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="paymentpageonlinebanking.css">

</head>

<body>

    <div class="headerbg"></div>
    <div class="logo"></div>
    <div class="HoMS">HoMS</div>
    <div class="navhome">Home</div>
    <div class="navdoctor">Doctor</div>
    <div class="navservices">Services</div>
    <div class="navreview">Review</div>
    <div class="navaboutus">About Us</div>
    <div class="rectanglelogout"></div>
    <div class="logout">Log Out</div>

    <div class="paymentpage">Payment Page</div>
    <div class="homsspecialisthospital">HoMS Specialist Hospital</div>

    <div class="rectangle"></div>
    <div class="bankissue">Bank Issue</div>
    <div class="rectangleselectbank"></div>
    <div class="selectbank">Select Bank</div>
    <div class="arrow"></div>

    <div class="redirectnotice">You will be redirected to online banking login page...</div>
    

    <div class="rectanglenext"></div>
    <div class="next">Next</div>


    
</body>

</html>