<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="paymentpage.css">

</head>

<body>

    <div class="headerbg"></div>
    <div class="logo"></div>
    <div class="HoMS">HoMS</div>
    <div class="navhome">Home</div>
    <div class="navdoctor">Doctor</div>
    <div class="navservices">Services</div>
    <div class="navreview">Review</div>
    <div class="navaboutus">About Us</div>
    <div class="rectanglelogout"></div>
    <div class="logout">Log Out</div>

    <div class="paymentpage">Payment Page</div>
    <div class="homsspecialisthospital">HoMS Specialist Hospital</div>

    <div class="rectangle"></div>
    <div class="paymentmethod">List of Payment Methods</div>
    <div class="rectanglepaymentmethod"></div>
    <div class="selectpaymentmethod">Select Payment Method</div>
    <div class="arrow"></div>
    

    <div class="rectanglenext"></div>
    <div class="next">Next</div>


    
</body>

</html>